@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&family=Rubik+Mono+One&family=Space+Grotesk:wght@300;400;700&display=swap');
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

body {
  overflow-x: hidden;
  /* background-color: #E6E6F4; */
  box-sizing: border-box;
  /* background-image: radial-gradient(50% 50% at center, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);  */
  /* background-image: radial-gradient(50% 50% at center, rgba(178,154,255,1) 15%, rgba(148,187,233,1) 100%);
  background-size: 400px 400px  ; */
  background-color: #91cdff;
  background-image: linear-gradient(201deg, #91cdff 0%, #878bdb 100%);
}

.nav-active {
  @apply md:text-blue-700 font-semibold text-base;
}

.bg-glass {
  background: rgba(255, 255, 255, 0.8);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(6.5px);
  -webkit-backdrop-filter: blur(6.5px);
}

.dash-board-glass {
  background: rgba(255, 255, 255, 0.25);
  /* box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 ); */
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);

}